* {
    --gray: #5c5c5c;
    --dark-gray: #1d1a1a;
    --white: #fafff7;
    --green: #65a84a;
    --yellow: #ffef5b;
    box-sizing: border-box;
    font-size: 42px;
}

body{
    background-color: var(--green);
}

h1{
    font-size: 80px;
    color: var(--dark-gray);
    margin-left: 44vw;
}

.active{
    background-color: var(--dark-gray);
    color: var(--white);
}

.container{
    display: flex;
}

#options{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.option{
    background-color: var(--gray);
    margin-bottom: 36px;
    width: 16vw;
}

.option:hover{
    background-color: var(--dark-gray);
    color: var(--white);
}

#slate{
    height: 44vw;
    width: 44vw;
    background-color: white;
}

.slidebar{
    width: 12vw;
    padding-left: 20px;
}

.myslider{
    background-color: var(--yellow);
    width: 11vw;
    opacity: 0.7;
    height: 25px;
   
}

.myslider:hover{
    opacity: 1;

}
